<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Waqqly Dogs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body style="background-color: #fee6e3; border: 5px solid #111">
    <div class="container">
        <u><h1>Welcome to Waqqly Dogs</h1></u>
        <div class="buttons">
            <a href="/register_dog" class="btn1">Register Dog</a>
            <a href="/search_dog" class="btn1">Search Dog</a>
            <a href="/register_dog_walker" class="btn1">Register Dog Walker</a>
            <a href="/search_dog_walker" class="btn1">Search Dog Walker</a>
        </div>
        
    </div>

    <main>
        <p>This is the homepage of my Flask application.</p>
    </main>
    <footer>
        <p>&copy; 2024 My Flask App - Waqq.ly</p>
    </footer>
</body>
</html>


